.classpath
.project
.settings
target
logs
tmp
eclipse
test-result
lib
dist
precompiled
bin
commands.pyc
.buildpath
.metadata
dist
afRadioshackTools/modules
afRadioshackToolsTest/modules
**/server.pid
**/cobertura.ser
**/.idea/
**/*.iml
.pydevproject
