#{extends 'CRUD/layout.html' /}
#{script 'jquery-1.6.4.min.js' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>


<script>
jQuery.noConflict();

function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}

	function remove(documentId, submitter){
		var result = confirm("remove " + submitter + "'s post?");
		if (result == true){
  			jQuery.get('UsefulLinks/remove', {id : documentId} ).success(function(data){
			jQuery('#link-' + documentId).parent().parent().hide();
		})
  		}
	}
	
	function rateDown(documentId){
		jQuery.get('Rating/decreaseRating', {id : documentId} ).success(function(data){
			jQuery('#rating-' + documentId).html(data);
		})
	}
	
	function rateUp(documentId){
		jQuery.get('Rating/increaseRating', {id : documentId} ).success(function(data){
			jQuery('#rating-' + documentId).html(data);
		})
	}
	
	function checkCookies(documentId, direction){
		var alreadyRated = false;
		var allcookies = document.cookie;
		cookiearray  = allcookies.split(';');

   		for(var i=0; i<cookiearray.length; i++){
      		
      		name = cookiearray[i].split('=')[0];
      		value = cookiearray[i].split('=')[1];
      		
      		if (name != "" && value != ""){
      		
      			cookieName = (" linkHubIdRating-" + documentId);      		
      			documentId = documentId.toString();
      			name = name.toString();
      			value = value.toString();
      		
      				if (cookieName == name){
      					if (value == documentId){
      						alert("You've already rated this article");
      						alreadyRated = true;
      					} 
      				} 
   			}
   		}
   		
   		if (alreadyRated == false){
   			if (direction == 'up'){
   				rateUp(documentId)
   			}
   			if (direction == 'down'){
   				rateDown(documentId)}
   			}
	}

</script>


<div id="crudList" class="${type.name}">
   <div id=buttonPannel>
       	 <p>
       	 	<a class="button" href="@{blank()}">&{'crud.add', type.modelName}</a>
         </p>
         <p>
         	<a class="button" href="/admin/classifications">&{'crud.add', 'classification'}</a>
    	</p>
 	</div> 
   
    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['classification','link','submitter','postedAt','rating']}
       	
       	#{crud.custom 'classification'}
       		<span id="classification">${object.classification}</a>
     		</span>
     	#{/crud.custom}
       	
       	#{crud.custom 'link'}
       		<span id="link-${object.id}"><a href="${object.link}">${object.description}</a>
     		</span>
     	#{/crud.custom}	
   	
  		#{crud.custom 'submitter'}
   			<span id="submitter-${object.id}">${object.submitter}</span>
  		#{/crud.custom}
     	
		#{crud.custom 'rating'}
     		</div>
			<div id="ratingInteraction" style="display:inline-block; padding-top: 9px;">
				<a class="button" style="font-size:18px" id="down" href="javascript:checkCookies(${object.id}, 'down')">-</a>
     			<span class="rating" id="rating-${object.id}">${object.rating}</span>
     			<a class="button" style="font-size:18px" id="up" href="javascript:checkCookies(${object.id}, 'up')" >+</a>
     		</div>
     		<a class="button" id="deletebutton" href="javascript:remove(${object.id}, '${object.submitter}')">Delete</a>
     	#{/crud.custom}
    	#{/crud.table} 
    </p>
    
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>
</div>





