#{extends 'CRUD/layout.html' /}
#{script 'jquery-1.6.4.min.js' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>


<script>
jQuery.noConflict();

function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}

	function remove(documentId, submitter){
		var result = confirm("remove " + submitter + "'s post?");
		if (result == true){
  			jQuery.get('UsefulLinks/remove', {id : documentId} ).success(function(data){
			jQuery('#link-' + documentId).parent().parent().hide();
		})
  		}
	}
	
	function rateDown(documentId){
		src="/public/images/Coin.wav";
		jQuery.get('Rating/decreaseRating', {id : documentId} ).success(function(data){
			updateStars(documentId, data);
		
		})
	}
	
	function rateUp(documentId){
		jQuery.get('Rating/increaseRating', {id : documentId} ).success(function(data){
			updateStars(documentId, data);
		
		})
	}
	
	function checkCookies(documentId, direction){
		var alreadyRated = true;
		var allcookies = document.cookie;
		cookiearray  = allcookies.split(';');

   		for(var i=0; i<cookiearray.length; i++){
      		
      		name = cookiearray[i].split('=')[0];
      		value = cookiearray[i].split('=')[1];
      		cookieName = (" linkHubIdRating-" + documentId);      		
      		documentId = documentId.toString();
      		name = name.toString();
      		value = value.toString();
      		
      		if (cookieName == name){
      			if (value == documentId){
      				alert("You've already rated this article");
      				alreadyRated = true;
      			} else{
      				alreadyRated = false;
      			}
      		} else{
      			alreadyRated = false;
      		}
   		}
   		
   		if (alreadyRated == false){
   			if (direction == 'up'){
   				rateUp(documentId)
   			}
   			if (direction == 'down'){
   				rateDown(documentId)}
   			}
	}

	function updateStars(documentId, rating) {
		if (rating < 0 ) {
			jQuery('#trooper5-' + documentId).show();
		} else {
			jQuery('#trooper5-' + documentId).hide();
		}
		if (rating < - 2 ) {
			jQuery('#trooper4-' + documentId).show();
		} else {
			jQuery('#trooper4-' + documentId).hide();
		}
		if (rating < - 4 ) {
			jQuery('#trooper3-' + documentId).show();
		} else {
			jQuery('#trooper3-' + documentId).hide();
		}
		if (rating < - 6 ) {
			jQuery('#trooper2-' + documentId).show();
		} else {
			jQuery('#trooper2-' + documentId).hide();
		}
		if (rating < - 8 ) {
			jQuery('#trooper1-' + documentId).show();
		} else {
			jQuery('#trooper1-' + documentId).hide();
		}
		if (rating > 0 ) {
			jQuery('#star1-' + documentId).show();
		} else {
			jQuery('#star1-' + documentId).hide();
		}
		if (rating > 2 ) {
			jQuery('#star2-' + documentId).show();
		}	else {
			jQuery('#star2-' + documentId).hide();
		}
		if (rating > 4 ) {
			jQuery('#star3-' + documentId).show();
		}	else {
			jQuery('#star3-' + documentId).hide();
		}
		if (rating > 6 ) {
			jQuery('#star4-' + documentId).show();
		}	else {
			jQuery('#star4-' + documentId).hide();
		}
		if (rating > 8 ) {
			jQuery('#star5-' + documentId).show();
		}	else {
			jQuery('#star5-' + documentId).hide();
		}
	}
</script>





<div id="crudList" class="${type.name}">
   <div id=buttonPannel>
    	<p id="crudListAdd">
       	 <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    	</p>  
   		<p id="crudListAddClassification">
        	<a href="/admin/classifications">&{'crud.add', 'classification'}</a>
    	</p>
 	</div> 
   
    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['classification','link','submitter','rating']}
       	
       	#{crud.custom 'classification'}
       		<span id="classification">${object.classification}</a>
     		</span>
     	#{/crud.custom}
       	
       	#{crud.custom 'link'}
       		<span id="link-${object.id}"><a href="${object.link}">${object.description}</a>
     		</span>
     	#{/crud.custom}	
   	
  		#{crud.custom 'submitter'}
   			<span id="submitter-${object.id}">by ${object.submitter} on ${object.postedAt}</span>
			<script type="text/javascript">
 				new Ajax.InPlaceEditor('submitter-${object.id}', '/usefullinks/editme?id=${object.id}&field=submitter');
			</script>
  		#{/crud.custom}
     	
		#{crud.custom 'rating'}
			<div id="negativeRating" style="display:inline-block; width:42%;">
			<span><img id="trooper1-${object.id}" src="/public/images/missile.png" style="float:center; padding-left: 2px; 
     			#{if object.rating > - 6}display:none#{/if}" />
     		</span>
     		<span><img id="trooper2-${object.id}" src="/public/images/squid.png" style="float:center; padding-left: 2px; 
     			#{if object.rating > - 6}display:none#{/if}" />
     		</span>
     		<span><img id="trooper3-${object.id}" src="/public/images/helmet.png" style="float:center; padding-left: 2px; 
     			#{if object.rating > - 4}display:none#{/if}" />
     		</span>
     		<span><img id="trooper4-${object.id}" src="/public/images/trooper.png" style="float:center; padding-left: 2px; 
     			#{if object.rating > - 2}display:none#{/if}" />
     		</span>
     		<span><img id="trooper5-${object.id}" src="/public/images/trooper1.png" style="float:center; padding-left: 2px; 
     			#{if object.rating == 0 || object.rating > 0}display:none#{/if}" />
     		</span>
     		
     		</div>
			<div id="ratingInteraction" style="display:inline-block; padding-top: 9px;">
				<a id="down" href="javascript:checkCookies(${object.id}, 'down')"><img src="/public/images/rating_down.png"/></a>
     			<a id="up" href="javascript:checkCookies(${object.id}, 'up')" ><img src="/public/images/rating_up.png"/></a>
     		</div>
     		
     		<div id="positiveRating"style="display:inline-block";>
     		<span><img id="star1-${object.id}" src="/public/images/mario_coin.png" style="float:center; padding-left: 2px; 
     			#{if object.rating == 0 || object.rating < 0}display:none#{/if}" />
     		</span>
     		<span><img id="star2-${object.id}" src="/public/images/mario_sizeup.png" style="float:center; padding-left: 2px;
     			#{if object.rating < 3}display:none#{/if}" /
     		</span>
     		<span><img id="star3-${object.id}" src="/public/images/mario_fireball.png" style="float:center; padding-left: 2px;
     			#{if object.rating < 5}display:none#{/if}" />
     		</span>
     		<span><img id="star4-${object.id}" src="/public/images/mario_star.png" style="float:center; padding-left: 2px;
     			#{if object.rating < 7}display:none#{/if}" />
     		</span>
     		<span><img id="star5-${object.id}" src="/public/images/mario_oneup.png" style="float:center; padding-left: 2px;
     			#{if object.rating < 9}display:none#{/if}" />
     		</span>
     		</div>
     		
     		<a id="delete" href="javascript:remove(${object.id}, '${object.submitter}')"><img src="/public/images/cross.png" style="float:right;"/></a>
     	#{/crud.custom}
    	#{/crud.table} 
    </p>
    
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>
</div>





