/** Administration area **/

#crud {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', 'Sans';
	font
	font-size: 110%;
	color: #444;
	background-image: url("/public/images/Super-mario-wallpaper-1920x1200edit2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

/** Header **/

#crud #crudHeader {
	padding: 6px 20px;
}

#crud #crudHeader h1 {
	margin: 0;
	font-weight: normal;
	font-size:40px;
	font-weight:bold;	
}

#crud #crudHeader h1 a {
	color: white;
	text-decoration: none;
	padding-left:10px;
}

/** Flash message **/

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}

.flashSuccess {
	background: #54BD06;
}

/** Content **/

#crud #crudContent {
	padding: 0px 20px;
}

#crud #crudContent h2 {
	color: #444;
	font-weight: normal;
	margin-top: 10px;
}

#crud #crudContent a {
	color: #444;
}

/** Tables **/

#crud #crudContent table {
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	border-collapse: collapse;
	table-layout: fixed;
}

#crud #crudContent table thead tr {
	background: #0A65AF;
}

#crud #crudContent table th {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th a {
	color: #fff;
	font-weight: bold;
}

.UsefulLinks table th {
	padding: 6px 5px;
	text-align:left;
}

.UsefulLinks  table th:last-child {
	padding: 6px 5px;
	text-align:center;
}

.UsefulLinks table th:first-child {
	padding: 6px 5px;
	text-align:left;
	width: 200px;
}

#crud #crudContent table th:nth-child(2) {
	padding: 6px 5px;
	text-align:left;
	width: 740px;
}

#crud #crudContent table th:nth-child(4	) {
	width: 510px;
}

#negativeRating{
text-align:right;
}

.Classifications {
text-align: left;
}

#crud #crudContent table td {
	text-align: left;
	padding: 4px 5px;
}

#crud #crudConten${type.controllerClass.name.substring(12).replace('$','')}.indext table td {
	border-bottom: 1px solid #eee;
}

#crud #crudContent table tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

/** Forms **/

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #444;
	cursor: pointer;
}

.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.crud_hidden {
    display: none;
}

.crudButtons {
	text-align: right;
	margin: 0;
	padding: 10px;
}

.crudField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 15px;
	font-size: 80%;
}

.crudField .hasError {
	color: #c00;
}

.crudField select[multiple] {
	max-height: 100px;
}

.crudField .crudHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

/** Footer **/

#crud #crudFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#crud #crudFooter a {
	color: #333;
}

/** Home **/

.crudNew {
	text-align: right !important;
}

.crudNew a {
	background: #54BD06;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

#crudEdit {
	background: #54BD06;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

.crudNew a:hover {
	opacity: .8;
}

/** List **/

#crudList {
	position: relative;
}

#crudListAdd  a, #crudListAddClassification  a {
	margin-top:45px;
	margin: 0;
	top: 0;
	right: 0;
	background: #54BD06;
	padding: 3px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
	clear:right;
}
#crudListAdd {
	margin-top:45px;
}

	#crudListAdd a:hover {
	opacity: .8;
}

#crudListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
}

#crudListSearch input[type=text] {
	width: 40%;
}

#crudListSearch a {
	color: #111 !important;
	font-size: 90%;
}

#crudListPagination {
	padding: 4px 5px;
	border: 1px solid #ddd;
	font-size: 90%;
	position: relative;
}

#crudListPagination .crudCount {
	margin: 0;
}

#crudListPagination .crudPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

/** Show **/

#crudShow {
	position: relative;
}

.crudDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}

.crudDelete input:hover {
	opacity: .7;
}

#link table td th{
	width:4%;
}

#
	
