<form name="addLink" action="html_form_action.asp" method="get">
Link: <input type="text" id="link" name="link" value="">


Description: <input type="text" id="description" name="description" onKeyDown="limitText(this.form.description,this.form.countdown,100);" 
onKeyUp="limitText(this.form.description,this.form.countdown,100);" maxlength="100"><br>
<font size="1">(Maximum characters: 100)<br>
You have <input readonly type="text" name="countdown" size="3" value="100"> characters left.</font>

Classification: <select id="object_classification" name="object.classification.id">
</select>
Submitter: <input type="text" id="submitter" name="submitter"" value="" />
<input type="submit" name="_save" value="Submit" />
</form>